body, html{
  margin:0;
  padding:0;
}

.header{
  background-color: green;
  text-align: center;
  border: 3px solid green;
  font-size: larger;
}

.input{
  background-color:green;
  text-align: center;
}

.body{
  background-color: green;
  position:absolute;
  top: 73px;
  bottom: 0px;
  left:0px;
  right: 0px;
}
